# Gradle root
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA (root project)
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/

# OS
.DS_Store
Thumbs.db
.idea/gradle.xml
/.idea
/SkyblockAddon.wiki
/core/src/main/resources/assets/skyblockaddon/registries/legacy
